.comment {
  margin-bottom: 40px;
}

.comment > img {
  border: 2px solid #45686D;
  border-radius: 50%;
  float: left;
  height: 64px;
  width: 64px;
  margin: 0 10px 0 0;
}

.comment-actions {
  color: #9ecbd2;
  font-size: 12px;
  text-transform: uppercase;
}

.comment-actions > a,
.comment-actions > span {
  margin-left: 15px;
}

.comment-actions a {
  color: #9ecbd2;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.comment-actions > a:hover {
  color: #fff;
}

.comment-confirm {
  display: inline-block;
  margin-left: 15px;
}

.comment-body {
  color: #fff;
}

.comment-count {
  color: #9ecbd2;
  margin-bottom: 20px;
}

.comment-button {
  background-color: #45686D;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-transform: uppercase;
  outline: none;
  width: 145px;
}

.comment-button:active {
  background-color: #5C8288;
}

.comment-list {
  margin-top: 40px;
}

.comment-header {
  border-bottom: 2px solid #fff;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.comment-form {
  background-color: #9ecbd2;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
}

.comment-form::before {
  background: url("illo-gears.svg") center no-repeat;
  content: '';
  height: 80px;
  position: absolute;
  right: 0;
  top: -80px;
  width: 154px;
}

.comment-form-actions > button {
  background-color: #fce87c;
  border: 0;
  border-radius: 10px;
  color: #6ba2aa;
  display: inline-block;
  font-weight: 700;
  line-height: 3;
  padding: 0 40px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.comment-form-actions > button:active,
.comment-form-actions > button:focus,
.comment-form-actions > button:hover {
  background-color: #fbe259;
}

.comment-form > label {
  color: #6ba2aa;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.comment-form-fields > input,
.comment-form-fields > textarea {
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  outline: none;
  resize: none;
}

.row {
  background-color: #6ba2aa;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 40px;
}

.row.comments-container {
  min-height: 300px;
}

@media screen and (max-width: 800px) {
  .row.comments-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.comment-avatars {
  margin-bottom: 40px;
}

.comment-avatars > h4 {
  color: #9ecbd2;
  text-transform: uppercase;
}

.comment-avatars > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment-avatars > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.comment-avatars > ul > li ~ li {
  margin: 0 5px;
}

.comment-avatars img {
  border: 2px solid #45686D;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}